.header{ 
    height: 50px;
    display: flex;
    align-items: center;
    top: 0;
    background: #131921;
    z-index: 100;
}

.header__logo{
    width: 80px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    align-items: center;
    flex:1;
    border-radius: 24px;
}

.header__searchInput{
    height: 10px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 2px;
}

.header__searchIcon{
    padding: 5px;
    background-color: #cd9042;
    height: 8px;
    border-radius: 2px;
}

.header__optionLineOne{
    font-size: 8px;
}

.header__optionLineTwo{
    font-size: 9px;
    font-weight: 800;
}

.header__optionBasket{
    display:flex;
    align-items: center;
    color: white;
}
.header__optionCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: center;
}
.header__option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header__bottom {
    background-color: #232f3e;
}

.header__bottom ul{
    list-style: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

.header__bottom ul li{
    margin-right: 20px;
    color: #fff;
}
.header__optionBasket a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__optionBasket a span{
    margin-top: -18px;
    color: #cd9042;
    margin-left: -5px;
    font-size: 14px;
    font-weight: bold;
}

